body {
    
    background-image: url("./OpenSign.jpg"); 
    background-color: #140505;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
  
   }

   #head{
    background-color: rgb(1, 17, 11);
   }

   header {
    background-color: #140505;
   }

   main{
       color: black;
   }